<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hei</h1>
    <h2>Vil du trykke på en knapp?</h2>
    <% for (let i = 0; i < data.length; i++) { %>
        <form action="/knapp2" method="post">
            <input type="submit" value="Knappen er trykket <%= data[i].count %> ganger"></input>
        </form>
    <% } %>
</body>
</html>